body {
  background: #eee; }

h1 {
  text-align: center;
  margin-top: 10px;
  line-height: 1.2em; }

div.hidden {
  font-size: 3em;
  text-align: center;
  padding: 100px;
  line-height: 2em; }

a {
  color: #087208;
  font-style: normal;
  font-size: 110%; }

div#outer {
  margin-bottom: 30px; }

div.container {
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  font-size: 90%;
  font-style: italic;
  padding: 20px; }
  div.container div {
    width: 95%;
    max-width: 800px;
    margin-top: 0px;
    position: absolute;
    background: #ddd;
    border: solid 1px #333;
    border-radius: 4px;
    padding: 4px 10px;
    margin-bottom: 30px; }
  div.container div#slot1 {
    top: calc(1*4em); }
  div.container div#slot2 {
    top: calc(2*4em); }
  div.container div#slot3 {
    top: calc(3*4em); }
  div.container div#slot4 {
    top: calc(4*4em); }
  div.container div#slot5 {
    top: calc(5*4em); }
  div.container div#slot6 {
    top: calc(6*4em); }
  div.container div#slot7 {
    top: calc(7*4em); }
  div.container div#slot8 {
    top: calc(8*4em); }
  div.container div#slot9 {
    top: calc(9*4em); }
  div.container div#slot10 {
    top: calc(10*4em); }

@media screen and (max-width: 600px) {
  div.hidden {
    font-size: 3em;
    text-align: center;
    padding: 25px;
    line-height: 2em; }

  div.container {
    padding: 20px; }
    div.container div {
      margin-top: 0px;
      position: absolute;
      width: 90%;
      line-height: 1.2; }
    div.container div#slot1 {
      top: calc(1.5*5em); }
    div.container div#slot2 {
      top: calc(2.5*5em); }
    div.container div#slot3 {
      top: calc(3.5*5em); }
    div.container div#slot4 {
      top: calc(4.5*5em); }
    div.container div#slot5 {
      top: calc(5.5*5em); }
    div.container div#slot6 {
      top: calc(6.5*5em); }
    div.container div#slot7 {
      top: calc(7.5*5em); }
    div.container div#slot8 {
      top: calc(8.5*5em); }
    div.container div#slot9 {
      top: calc(9.5*5em); }
    div.container div#slot10 {
      top: calc(10.5*5em); } }
